
#main-content::-webkit-scrollbar {
    width: 10px;
}
#main-content::-webkit-scrollbar-track {
   background: gray;
}
#main-content::-webkit-scrollbar-thumb {
    background: black;
}
#main-content::-webkit-scrollbar-thumb:hover {
    background: #555;
}