.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  /* Modal Content */
  .modal-content {
    background-color: rgba(255, 249, 249);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%; /* Cambiado a 90% para pantallas m치s peque침as */
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .nuevoJurado {
    align-content: center;
  }
  
  /* The Close Button */
  .close {
    color: #020202;
    float: right;
    font-size: 28px;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    background-color: #ffffff;
    padding: 10px;
    color: #000000;
    font-size: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .modal-body {
    padding: 20px;
  }
  
  .modal-footer {
    padding: 2px 16px;
    background-color: #ffffff;
    color: white;
  }
  
  /* Add Animation */
  @-webkit-keyframes slideIn {
    from { bottom: -300px; opacity: 0 }
    to { bottom: 0; opacity: 1 }
  }
  
  @keyframes slideIn {
    from { bottom: -300px; opacity: 0 }
    to { bottom: 0; opacity: 1 }
  }
  
  @-webkit-keyframes fadeIn {
    from { opacity: 0 }
    to { opacity: 1 }
  }
  
  @keyframes fadeIn {
    from { opacity: 0 }
    to { opacity: 1 }
  }
  
  .modal-title {
    margin: 0;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    font-size: 14px;
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input,
  .form-group select {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .modal-footer {
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
  }
  
  .btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .btn-secondary {
    background-color: #ccc;
    margin-right: 10px;
  }
  
  .btn-primary {
    background-color: #007bff;
    color: white;
  }
  
  /* Media Queries for Responsiveness */
  @media (max-width: 600px) {
    .modal-content {
      width: 95%; /* Aumenta el ancho en pantallas peque침as */
      padding: 15px; /* Ajusta el padding */
    }
    
    .close {
      font-size: 24px; /* Reduce el tama침o de la fuente */
    }
  
    .modal-header,
    .modal-footer {
      padding: 8px; /* Ajusta el padding */
    }
  }
  