
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: #2d3e50;
    padding: 20px;
    color: white;
}

.profile {
    text-align: center;
    margin-bottom: 20px;
}

.profile img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.profile p {
    font-size: 18px;
    margin-bottom: 5px;
}

.profile a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
}

ul li {
    margin: 15px 0;
}

ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
    display: block;
    transition: background 0.3s;
}

ul li a:hover {
    background-color: #1e2d40;
}

.content {
    flex-grow: 1;
    padding: 20px;
    background-color: #f4f4f4;
}
.header {
    display: flex;
    justify-content: space-between; /* Distribuir elementos uniformemente */
    align-items: center;
    margin-bottom: 20px;
    width: 100%; /* Aseguramos que ocupe todo el ancho disponible */
    max-width: 1200px; /* Limitar el ancho máximo del header */
    margin-left: auto;
    margin-right: auto; /* Centramos el contenedor del header */
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-direction: row-reverse;
}
.header h2 {
    margin: 0;
    flex-grow: 1; /* El título crecerá para ocupar todo el espacio posible */
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.search-container {
    margin-left: 20px; /* Espaciamos el campo de búsqueda y lo ubicamos a la izquierda */
}

.add-icon {
    margin-right: 20px; /* Espaciamos el ícono de agregar y lo colocamos a la derecha */
}

.add-icon img {
    width: 40px;
    height: 40px;
    cursor: pointer; /* Agregamos un cursor pointer para simular un botón */
}

.header h2 {
    margin: 0;
    text-align: center;
    flex-grow: 1; /* Permite que el título ocupe todo el espacio posible */
    font-size: 24px;
    font-weight: bold;
}

.search-container {
    margin-right: 20px; /* Añadimos espacio entre la barra de búsqueda y el título */
}

.add-icon {
    margin-left: 20px; /* Añadimos espacio entre el ícono de agregar y el título */
}


table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
}

thead {
    background-color: #007bff;
    color: white;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    text-transform: uppercase;
    font-size: 14px;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody td {
    border-bottom: 1px solid #ddd;
}

.edit-icon {
    font-size: 18px;
    color: #007bff;
    text-decoration: none;
}

.edit-icon {
    width: 16px; 
    height: auto;
    cursor: pointer; 
}

.edit-icon:hover {
    opacity: 0.8; 
}

button {
    border: none;
    cursor: pointer;
  }
